# Anomaly Detection

In [1]:
import numpy as np
import pandas as pd

import env
from wrangle import wrangle_log_data, get_log_data

In [2]:
df = wrangle_log_data()

In [3]:
df.head()

,date,time,path,user_id,cohort_id,name,start_date,end_date,program_id
date_time,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:24,2018-01-26,09:56:24,javascript-i/conditionals,2,22,Teddy,2018-01-08,2018-05-17,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900222 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   900223 non-null  int64
 5   name        900223 non-null  object
 6   start_date  900223 non-null  datetime64[ns]
 7   end_date    900223 non-null  datetime64[ns]
 8   program_id  900223 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 68.7+ MB

In [6]:
df.start_date.nunique()

45

In [7]:
df.cohort_id.nunique()

48

In [12]:
df.groupby(['start_date', df.cohort_id.unique()]).count()

ValueError: Grouper and axis must be same length

#### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

#### 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

#### 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

#### 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

#### 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

#### 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?