# Anomaly Detection Project

In [1]:
import numpy as np
import pandas as pd

import env
from wrangle import wrangle_log_data, get_log_data

In [2]:
df = wrangle_log_data()

### **Let's get to know this dataset:**

In [3]:
df.head()

,date,time,path,user_id,cohort_id,name,start_date,end_date,program_id
date_time,,,,,,,,,
2018-01-26 09:55:03,2018-01-26,09:55:03,/,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:02,2018-01-26,09:56:02,java-ii,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:05,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:06,2018-01-26,09:56:06,slides/object_oriented_programming,1,8,Hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:24,2018-01-26,09:56:24,javascript-i/conditionals,2,22,Teddy,2018-01-08,2018-05-17,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900223 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   900223 non-null  int64
 5   name        900223 non-null  object
 6   start_date  900223 non-null  datetime64[ns]
 7   end_date    900223 non-null  datetime64[ns]
 8   program_id  900223 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 68.7+ MB

In [5]:
df.start_date.nunique()

45

In [6]:
df.cohort_id.nunique()

48

In [7]:
# when do the log files start and end?

In [8]:
df.index.min(), df.index.max()

(Timestamp('2018-01-26 09:55:03'), Timestamp('2021-04-21 16:44:39'))

In [9]:
# just over three years of data from 2018-01-26 to 2021-04-21

In [10]:
# trying to understand the cohorts firstoff
df.program_id.value_counts()

2      713365
3      103412
999     52893
1       30548
4           5
Name: program_id, dtype: int64

In [11]:
df[df.program_id == 1].groupby(by='path').count().sort_values(
    by='date', ascending=False).head(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,1681,1681,1681,1681,1681,1681,1681,1681
index.html,1011,1011,1011,1011,1011,1011,1011,1011
javascript-i,736,736,736,736,736,736,736,736
html-css,542,542,542,542,542,542,542,542
spring,501,501,501,501,501,501,501,501
java-iii,479,479,479,479,479,479,479,479
java-ii,454,454,454,454,454,454,454,454
java-i,444,444,444,444,444,444,444,444
javascript-ii,429,429,429,429,429,429,429,429
appendix,409,409,409,409,409,409,409,409
jquery,344,344,344,344,344,344,344,344
mysql,284,284,284,284,284,284,284,284
content/html-css,262,262,262,262,262,262,262,262
javascript-i/introduction/working-with-data-types-operators-and-variables,232,232,232,232,232,232,232,232
java-iii/servlets,227,227,227,227,227,227,227,227
javascript-i/javascript-with-html,225,225,225,225,225,225,225,225
spring/fundamentals/views,225,225,225,225,225,225,225,225
java-iii/jsp-and-jstl,224,224,224,224,224,224,224,224
javascript-i/functions,220,220,220,220,220,220,220,220
spring/fundamentals/repositories,217,217,217,217,217,217,217,217
content/laravel/intro,210,210,210,210,210,210,210,210
java-iii/mvc,202,202,202,202,202,202,202,202
html-css/elements,201,201,201,201,201,201,201,201
java-iii/jdbc,198,198,198,198,198,198,198,198
javascript-i/conditionals,197,197,197,197,197,197,197,197
java-i/introduction-to-java,196,196,196,196,196,196,196,196
spring/fundamentals/controllers,196,196,196,196,196,196,196,196
java-ii/object-oriented-programming,195,195,195,195,195,195,195,195
javascript-i/loops,189,189,189,189,189,189,189,189
javascript-ii/npm,189,189,189,189,189,189,189,189
java-i/methods,185,185,185,185,185,185,185,185
spring/fundamentals/services,172,172,172,172,172,172,172,172
java-ii/arrays,172,172,172,172,172,172,172,172
java-i/syntax-types-and-variables,171,171,171,171,171,171,171,171
spring/fundamentals/security/authentication,169,169,169,169,169,169,169,169
java-i/console-io,169,169,169,169,169,169,169,169
javascript-ii/es6,165,165,165,165,165,165,165,165
javascript-i/bom-and-dom/bom,164,164,164,164,164,164,164,164
spring/fundamentals/form-model-binding,164,164,164,164,164,164,164,164
javascript-i/introduction/operators,163,163,163,163,163,163,163,163
spring/setup,161,161,161,161,161,161,161,161
javascript-ii/ajax-api,160,160,160,160,160,160,160,160
javascript-ii/promises,160,160,160,160,160,160,160,160
java-ii/inheritance-and-polymorphism,158,158,158,158,158,158,158,158
javascript-i/bom-and-dom/dom,157,157,157,157,157,157,157,157
html-css/introduction,157,157,157,157,157,157,157,157
java-iii/sessions-and-cookies,157,157,157,157,157,157,157,157
javascript-i/introduction/primitive-types,155,155,155,155,155,155,155,155
spring/fundamentals/relationships,154,154,154,154,154,154,154,154
html-css/forms,153,153,153,153,153,153,153,153
java-iii/user-input,153,153,153,153,153,153,153,153
javascript-ii/modules,153,153,153,153,153,153,153,153
toc,152,152,152,152,152,152,152,152
content/html-css/introduction.html,149,149,149,149,149,149,149,149
javascript-ii/map-filter-reduce,148,148,148,148,148,148,148,148

In [12]:
# program_id 1 looks a lot like web dev to me... all javascript
# and html

In [13]:
df[df.program_id == 2].groupby(by='path').count().sort_values(
    by='date', ascending=False).head(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,35814,35814,35814,35814,35814,35814,35814,35814
javascript-i,17457,17457,17457,17457,17457,17457,17457,17457
toc,17428,17428,17428,17428,17428,17428,17428,17428
search/search_index.json,15212,15212,15212,15212,15212,15212,15212,15212
java-iii,12683,12683,12683,12683,12683,12683,12683,12683
html-css,12569,12569,12569,12569,12569,12569,12569,12569
java-ii,11719,11719,11719,11719,11719,11719,11719,11719
spring,11376,11376,11376,11376,11376,11376,11376,11376
jquery,10693,10693,10693,10693,10693,10693,10693,10693
mysql,10318,10318,10318,10318,10318,10318,10318,10318
java-i,10016,10016,10016,10016,10016,10016,10016,10016
javascript-ii,9861,9861,9861,9861,9861,9861,9861,9861
appendix,7648,7648,7648,7648,7648,7648,7648,7648
javascript-i/introduction/working-with-data-types-operators-and-variables,7094,7094,7094,7094,7094,7094,7094,7094
mysql/tables,6978,6978,6978,6978,6978,6978,6978,6978
javascript-i/functions,6850,6850,6850,6850,6850,6850,6850,6850
javascript-i/javascript-with-html,6824,6824,6824,6824,6824,6824,6824,6824
mysql/databases,6537,6537,6537,6537,6537,6537,6537,6537
html-css/elements,6521,6521,6521,6521,6521,6521,6521,6521
java-iii/jsp-and-jstl,6377,6377,6377,6377,6377,6377,6377,6377
java-iii/servlets,6291,6291,6291,6291,6291,6291,6291,6291
html-css/css-ii/bootstrap-grid-system,6278,6278,6278,6278,6278,6278,6278,6278
javascript-i/loops,6266,6266,6266,6266,6266,6266,6266,6266
javascript-i/conditionals,6132,6132,6132,6132,6132,6132,6132,6132
mysql/users,6048,6048,6048,6048,6048,6048,6048,6048
mysql/basic-statements,5884,5884,5884,5884,5884,5884,5884,5884
java-i/syntax-types-and-variables,5845,5845,5845,5845,5845,5845,5845,5845
java-ii/object-oriented-programming,5818,5818,5818,5818,5818,5818,5818,5818
html-css/css-ii/bootstrap-introduction,5816,5816,5816,5816,5816,5816,5816,5816
spring/fundamentals/views,5470,5470,5470,5470,5470,5470,5470,5470
html-css/forms,5457,5457,5457,5457,5457,5457,5457,5457
spring/fundamentals/repositories,5345,5345,5345,5345,5345,5345,5345,5345
java-ii/arrays,5199,5199,5199,5199,5199,5199,5199,5199
java-i/introduction-to-java,5189,5189,5189,5189,5189,5189,5189,5189
jquery/selectors,5099,5099,5099,5099,5099,5099,5099,5099
javascript-i/arrays/manipulating,5072,5072,5072,5072,5072,5072,5072,5072
javascript-ii/promises,5050,5050,5050,5050,5050,5050,5050,5050
javascript-i/objects,5016,5016,5016,5016,5016,5016,5016,5016
java-iii/jdbc,4972,4972,4972,4972,4972,4972,4972,4972
java-ii/collections,4916,4916,4916,4916,4916,4916,4916,4916
java-ii/inheritance-and-polymorphism,4901,4901,4901,4901,4901,4901,4901,4901
java-i/methods,4878,4878,4878,4878,4878,4878,4878,4878
java-ii/interfaces-and-abstract-classes,4871,4871,4871,4871,4871,4871,4871,4871
html-css/css-i/selectors-and-properties,4862,4862,4862,4862,4862,4862,4862,4862
javascript-i/bom-and-dom/dom,4855,4855,4855,4855,4855,4855,4855,4855
spring/fundamentals/controllers,4846,4846,4846,4846,4846,4846,4846,4846
jquery/ajax/weather-map,4822,4822,4822,4822,4822,4822,4822,4822
javascript-i/arrays,4813,4813,4813,4813,4813,4813,4813,4813
javascript-i/introduction/operators,4794,4794,4794,4794,4794,4794,4794,4794
mysql/introduction,4747,4747,4747,4747,4747,4747,4747,4747
html-css/css-i/positioning,4541,4541,4541,4541,4541,4541,4541,4541
java-i/console-io,4461,4461,4461,4461,4461,4461,4461,4461
html-css/css-ii/media-queries,4383,4383,4383,4383,4383,4383,4383,4383
javascript-ii/ajax-api,4370,4370,4370,4370,4370,4370,4370,4370
javascript-i/introduction/primitive-types,4357,4357,4357,4357,4357,4357,4357,4357

In [14]:
# program_id 2 also looks like web dev. Maybe they moodified the curriculum as
# I saw some PHP in program_id 1. Let's check start dates
df[df.program_id == 1].groupby(by=['start_date', 'name']).count()

,,date,time,path,user_id,cohort_id,end_date,program_id
start_date,name,,,,,,,
2014-02-04,Arches,8890,8890,8890,8890,8890,8890,8890
2014-06-04,Badlands,93,93,93,93,93,93,93
2014-10-20,Denali,4,4,4,4,4,4,4
2014-11-18,Everglades,1,1,1,1,1,1,1
2015-02-03,Franklin,72,72,72,72,72,72,72
2015-06-05,Glacier,598,598,598,598,598,598,598
2015-09-22,Hampton,1712,1712,1712,1712,1712,1712,1712
2016-01-20,Ike,253,253,253,253,253,253,253
2016-03-08,Joshua,302,302,302,302,302,302,302
2016-05-23,Kings,2845,2845,2845,2845,2845,2845,2845
2016-07-18,Lassen,9587,9587,9587,9587,9587,9587,9587
2017-02-06,Olympic,4954,4954,4954,4954,4954,4954,4954
2017-06-05,Quincy,1237,1237,1237,1237,1237,1237,1237

In [15]:
# ok, program_id 1 is 13 cohorts. They have a really large disparity of counts
# Dates are February 2014 to June 2017.
# Check for program_id 2
df[df.program_id == 2].groupby(by=['start_date', 'name']).count()

,,date,time,path,user_id,cohort_id,end_date,program_id
start_date,name,,,,,,,
2014-02-04,Staff,84031,84031,84031,84031,84031,84031,84031
2016-09-26,Mammoth,691,691,691,691,691,691,691
2016-10-26,Niagara,755,755,755,755,755,755,755
2017-03-27,Pinnacles,2158,2158,2158,2158,2158,2158,2158
2017-09-27,Sequoia,7444,7444,7444,7444,7444,7444,7444
2018-01-08,Teddy,30926,30926,30926,30926,30926,30926,30926
2018-03-05,Ulysses,28534,28534,28534,28534,28534,28534,28534
2018-05-29,Voyageurs,35636,35636,35636,35636,35636,35636,35636
2018-07-23,Wrangell,25586,25586,25586,25586,25586,25586,25586
2018-09-17,Xanadu,27749,27749,27749,27749,27749,27749,27749
2018-11-05,Yosemite,20743,20743,20743,20743,20743,20743,20743
2019-01-22,Zion,38096,38096,38096,38096,38096,38096,38096
2019-03-18,Andromeda,25359,25359,25359,25359,25359,25359,25359
2019-05-28,Betelgeuse,29356,29356,29356,29356,29356,29356,29356
2019-07-15,Ceres,40730,40730,40730,40730,40730,40730,40730
2019-09-16,Deimos,32888,32888,32888,32888,32888,32888,32888
2019-11-04,Europa,28033,28033,28033,28033,28033,28033,28033
2020-01-13,Fortuna,36902,36902,36902,36902,36902,36902,36902
2020-02-24,Apex,33568,33568,33568,33568,33568,33568,33568
2020-03-23,Ganymede,33844,33844,33844,33844,33844,33844,33844
2020-05-26,Hyperion,29855,29855,29855,29855,29855,29855,29855
2020-07-20,Bash,17713,17713,17713,17713,17713,17713,17713
2020-09-21,Jupiter,37109,37109,37109,37109,37109,37109,37109
2020-11-02,Kalypso,23691,23691,23691,23691,23691,23691,23691
2020-12-07,Luna,16623,16623,16623,16623,16623,16623,16623
2021-01-25,Marco,16397,16397,16397,16397,16397,16397,16397
2021-03-15,Neptune,7276,7276,7276,7276,7276,7276,7276
2021-04-12,Oberon,1672,1672,1672,1672,1672,1672,1672

In [16]:
# program_id 2 has 28 cohorts including staff. Non-staff cohorts
# go from September 2016 to April 2021. There are three cohorts, 
# Mammoth, Niagara, and Pinnacles that overlap the program_id 1
# cohorts in late 2016- early 2017. Maybe they taught some courses
# with PHP and some without during a transition period?
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900223 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900223 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   900223 non-null  int64
 5   name        900223 non-null  object
 6   start_date  900223 non-null  datetime64[ns]
 7   end_date    900223 non-null  datetime64[ns]
 8   program_id  900223 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 68.7+ MB

In [18]:
# what cohorts started before the logs we've been given?
df[df.start_date < df.index.min()].groupby('name').count()

,date,time,path,user_id,cohort_id,start_date,end_date,program_id
name,,,,,,,,
Apollo,5,5,5,5,5,5,5,5
Arches,8890,8890,8890,8890,8890,8890,8890,8890
Badlands,93,93,93,93,93,93,93,93
Denali,4,4,4,4,4,4,4,4
Everglades,1,1,1,1,1,1,1,1
Franklin,72,72,72,72,72,72,72,72
Glacier,598,598,598,598,598,598,598,598
Hampton,1712,1712,1712,1712,1712,1712,1712,1712
Ike,253,253,253,253,253,253,253,253
Joshua,302,302,302,302,302,302,302,302
Kings,2845,2845,2845,2845,2845,2845,2845,2845
Lassen,9587,9587,9587,9587,9587,9587,9587,9587
Mammoth,691,691,691,691,691,691,691,691
Niagara,755,755,755,755,755,755,755,755
None Assigned,52893,52893,52893,52893,52893,52893,52893,52893
Olympic,4954,4954,4954,4954,4954,4954,4954,4954
Pinnacles,2158,2158,2158,2158,2158,2158,2158,2158
Quincy,1237,1237,1237,1237,1237,1237,1237,1237
Sequoia,7444,7444,7444,7444,7444,7444,7444,7444
Staff,84031,84031,84031,84031,84031,84031,84031,84031
Teddy,30926,30926,30926,30926,30926,30926,30926,30926

In [19]:
df[df.end_date < df.index.min()].groupby('name').count().shape

(19, 8)

In [23]:
# let's take a look at program_id 3
df[df.program_id == 3].groupby(by=['start_date', 'name']).count()

,,date,time,path,user_id,cohort_id,end_date,program_id
start_date,name,,,,,,,
2019-08-19,Bayes,26538,26538,26538,26538,26538,26538,26538
2020-02-03,Curie,21582,21582,21582,21582,21582,21582,21582
2020-07-13,Darden,32015,32015,32015,32015,32015,32015,32015
2020-12-07,Easley,14715,14715,14715,14715,14715,14715,14715
2021-03-15,Florence,8562,8562,8562,8562,8562,8562,8562

In [25]:
# these look like data science names to me
# let's take a look at their top paths
df[df.program_id == 3].groupby(by='path').count().sort_values(
    by='date', ascending=False).head(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,8358,8358,8358,8358,8358,8358,8358,8358
search/search_index.json,2203,2203,2203,2203,2203,2203,2203,2203
classification/overview,1785,1785,1785,1785,1785,1785,1785,1785
1-fundamentals/modern-data-scientist.jpg,1655,1655,1655,1655,1655,1655,1655,1655
1-fundamentals/AI-ML-DL-timeline.jpg,1651,1651,1651,1651,1651,1651,1651,1651
1-fundamentals/1.1-intro-to-data-science,1633,1633,1633,1633,1633,1633,1633,1633
classification/scale_features_or_not.svg,1590,1590,1590,1590,1590,1590,1590,1590
fundamentals/AI-ML-DL-timeline.jpg,1443,1443,1443,1443,1443,1443,1443,1443
fundamentals/modern-data-scientist.jpg,1438,1438,1438,1438,1438,1438,1438,1438
sql/mysql-overview,1424,1424,1424,1424,1424,1424,1424,1424
fundamentals/intro-to-data-science,1413,1413,1413,1413,1413,1413,1413,1413
6-regression/1-overview,1124,1124,1124,1124,1124,1124,1124,1124
anomaly-detection/AnomalyDetectionCartoon.jpeg,829,829,829,829,829,829,829,829
anomaly-detection/overview,804,804,804,804,804,804,804,804
10-anomaly-detection/AnomalyDetectionCartoon.jpeg,754,754,754,754,754,754,754,754
10-anomaly-detection/1-overview,751,751,751,751,751,751,751,751
3-sql/1-mysql-overview,707,707,707,707,707,707,707,707
1-fundamentals/DataToAction_v2.jpg,675,675,675,675,675,675,675,675
stats/compare-means,668,668,668,668,668,668,668,668
python/data-types-and-variables,667,667,667,667,667,667,667,667
1-fundamentals/1.2-data-science-pipeline,651,651,651,651,651,651,651,651
classification/prep,591,591,591,591,591,591,591,591
classification/explore,583,583,583,583,583,583,583,583
classification/logistic-regression,581,581,581,581,581,581,581,581
appendix/cli-git-overview,580,580,580,580,580,580,580,580
classification/classical_programming_vs_machine_learning.jpeg,572,572,572,572,572,572,572,572
classification/evaluation,559,559,559,559,559,559,559,559
5-stats/4.2-compare-means,556,556,556,556,556,556,556,556
5-stats/3-probability-distributions,525,525,525,525,525,525,525,525
regression/model,524,524,524,524,524,524,524,524
python/dataframes,517,517,517,517,517,517,517,517
sql/joins,513,513,513,513,513,513,513,513
sql/functions,504,504,504,504,504,504,504,504
python/advanced-dataframes,499,499,499,499,499,499,499,499
python/intro-to-matplotlib,497,497,497,497,497,497,497,497
fundamentals/DataToAction_v2.jpg,495,495,495,495,495,495,495,495
python/control-structures,484,484,484,484,484,484,484,484
3-sql/7-functions,480,480,480,480,480,480,480,480
classification/decision-trees,472,472,472,472,472,472,472,472
fundamentals/data-science-pipeline,469,469,469,469,469,469,469,469
stats/correlation,462,462,462,462,462,462,462,462
classification/acquire,458,458,458,458,458,458,458,458
5-stats/2-simulation,452,452,452,452,452,452,452,452
sql/group-by,449,449,449,449,449,449,449,449
python/functions,444,444,444,444,444,444,444,444
6-regression/5.0-evaluate,440,440,440,440,440,440,440,440
classification/project,436,436,436,436,436,436,436,436
4-python/3-data-types-and-variables,434,434,434,434,434,434,434,434
stats/probability-distributions,426,426,426,426,426,426,426,426
python/introduction-to-python,424,424,424,424,424,424,424,424
fundamentals/git,418,418,418,418,418,418,418,418
sql/basic-statements,415,415,415,415,415,415,415,415
7-classification/6.1-logistic-regression,413,413,413,413,413,413,413,413
python/series,410,410,410,410,410,410,410,410
7-classification/project,409,409,409,409,409,409,409,409

In [26]:
# Yeup, definitely ds cohorts for program_id 3

In [28]:
# check out program_id 4
df[df.program_id == 4].groupby(by=['start_date', 'name']).count()

                   date  time  path  user_id  cohort_id  end_date  program_id
start_date name
2015-03-30 Apollo     5     5     5        5          5         5           5

In [29]:
# see what pages they access
df[df.program_id == 4].groupby(by='path').count().sort_values(
    by='date', ascending=False).head(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
content/html-css,2,2,2,2,2,2,2,2
/,1,1,1,1,1,1,1,1
content/html-css/gitbook/images/favicon.ico,1,1,1,1,1,1,1,1
content/html-css/introduction.html,1,1,1,1,1,1,1,1

In [30]:
# hmmm. program_id 4 looks like some kind of pilot or special program
# let's see what the log entries look like.
df[df.program_id == 4]

,date,time,path,user_id,cohort_id,name,start_date,end_date,program_id
date_time,,,,,,,,,
2018-03-22 19:01:49,2018-03-22,19:01:49,/,152,9,Apollo,2015-03-30,2015-07-29,4
2018-03-22 19:01:54,2018-03-22,19:01:54,content/html-css,152,9,Apollo,2015-03-30,2015-07-29,4
2018-03-22 19:01:54,2018-03-22,19:01:54,content/html-css/gitbook/images/favicon.ico,152,9,Apollo,2015-03-30,2015-07-29,4
2018-03-22 19:02:47,2018-03-22,19:02:47,content/html-css,152,9,Apollo,2015-03-30,2015-07-29,4
2018-03-22 19:02:52,2018-03-22,19:02:52,content/html-css/introduction.html,152,9,Apollo,2015-03-30,2015-07-29,4

In [31]:
# all css stuff by one user within just over one minute
# all by the same user from the 2015 cohort.
# seems pretty irrelavent

In [34]:
# I assigned the logs without a program id to 999.
# take a quick look at what they looked at:
df[df.program_id == 999].groupby(by='path').count().sort_values(
    by='date', ascending=False).head(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,4459,4459,4459,4459,4459,4459,4459,4459
search/search_index.json,1985,1985,1985,1985,1985,1985,1985,1985
javascript-i,780,780,780,780,780,780,780,780
toc,706,706,706,706,706,706,706,706
spring,641,641,641,641,641,641,641,641
java-iii,567,567,567,567,567,567,567,567
html-css,508,508,508,508,508,508,508,508
java-ii,508,508,508,508,508,508,508,508
jquery,484,484,484,484,484,484,484,484
javascript-ii,436,436,436,436,436,436,436,436
mysql,422,422,422,422,422,422,422,422
java-i,398,398,398,398,398,398,398,398
Intro_to_Regression_Module,397,397,397,397,397,397,397,397
Regression_Python,355,355,355,355,355,355,355,355
html-css/elements,349,349,349,349,349,349,349,349
javascript-i/loops,339,339,339,339,339,339,339,339
javascript-i/introduction/working-with-data-types-operators-and-variables,316,316,316,316,316,316,316,316
spring/fundamentals/repositories,315,315,315,315,315,315,315,315
3.0-mysql-overview,309,309,309,309,309,309,309,309
html-css/introduction,303,303,303,303,303,303,303,303
javascript-i/javascript-with-html,301,301,301,301,301,301,301,301
spring/fundamentals/views,299,299,299,299,299,299,299,299
mysql/databases,286,286,286,286,286,286,286,286
4.6.3_introduction_to_pandas,285,285,285,285,285,285,285,285
6_Exercises,278,278,278,278,278,278,278,278
javascript-i/functions,278,278,278,278,278,278,278,278
java-iii/jsp-and-jstl,275,275,275,275,275,275,275,275
mysql/users,270,270,270,270,270,270,270,270
javascript-i/conditionals,266,266,266,266,266,266,266,266
4.2_data_types_and_variables,265,265,265,265,265,265,265,265
spring/fundamentals/controllers,263,263,263,263,263,263,263,263
java-iii/servlets,258,258,258,258,258,258,258,258
html-css/forms,258,258,258,258,258,258,258,258
mysql/tables,255,255,255,255,255,255,255,255
javascript-i/bom-and-dom/dom,255,255,255,255,255,255,255,255
spring/setup,253,253,253,253,253,253,253,253
html-css/css-ii/bootstrap-grid-system,246,246,246,246,246,246,246,246
appendix,245,245,245,245,245,245,245,245
spring/fundamentals/relationships,244,244,244,244,244,244,244,244
java-iii/mvc,240,240,240,240,240,240,240,240
jquery/essential-methods/traversing,239,239,239,239,239,239,239,239
java-ii/object-oriented-programming,235,235,235,235,235,235,235,235
mysql/introduction,233,233,233,233,233,233,233,233
jquery/essential-methods/attributes-and-css,232,232,232,232,232,232,232,232
java-i/syntax-types-and-variables,230,230,230,230,230,230,230,230
java-ii/collections,228,228,228,228,228,228,228,228
javascript-ii/promises,223,223,223,223,223,223,223,223
html-css/css-i/flexbox/flexbox-in-practice,219,219,219,219,219,219,219,219
2.01.00_Descriptive_Stats,217,217,217,217,217,217,217,217
jquery/effects,217,217,217,217,217,217,217,217
java-ii/arrays,217,217,217,217,217,217,217,217
html-css/css-i/selectors-and-properties,211,211,211,211,211,211,211,211
7_Exercises,210,210,210,210,210,210,210,210
3.1-mysql-introduction,210,210,210,210,210,210,210,210
javascript-i/bom-and-dom/dom-events,210,210,210,210,210,210,210,210

In [35]:
# check out the bottom 55
df[df.program_id == 999].groupby(by='path').count().sort_values(
    by='date', ascending=False).tail(55)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
fundamentals,1,1,1,1,1,1,1,1
content/html-css/css-i/gitbook/images/favicon.ico,1,1,1,1,1,1,1,1
10_Projects,1,1,1,1,1,1,1,1
distributed-ml/explore,1,1,1,1,1,1,1,1
7_exercises,1,1,1,1,1,1,1,1
7_Projects,1,1,1,1,1,1,1,1
examples/postwork/reports.yml,1,1,1,1,1,1,1,1
login.aspx,1,1,1,1,1,1,1,1
content/git/pushing-and-pulling.html,1,1,1,1,1,1,1,1
content/php_iii/classes-and-objects-i,1,1,1,1,1,1,1,1
content/git/initializing-a-repository.html,1,1,1,1,1,1,1,1
content/git/gitignore-file.html,1,1,1,1,1,1,1,1
merge_Ensemble,1,1,1,1,1,1,1,1
content/git/creating-a-repository.html,1,1,1,1,1,1,1,1
content/git/committing.html,1,1,1,1,1,1,1,1
5-stats/4.5-more-statistical-testing-examples,1,1,1,1,1,1,1,1
5-stats/5-power-analysis,1,1,1,1,1,1,1,1
5-stats/Selecting_a_hypothesis_test.svg,1,1,1,1,1,1,1,1
content/git/branching.html,1,1,1,1,1,1,1,1
content/git/adding-files.html,1,1,1,1,1,1,1,1
7-clustering/review,1,1,1,1,1,1,1,1
10.04.05_TopicModeling,1,1,1,1,1,1,1,1
10.04.04_TextClassification,1,1,1,1,1,1,1,1
content/html-css/css-ii/gitbook/images/favicon.ico,1,1,1,1,1,1,1,1
content/html-css/css-ii/grids.html,1,1,1,1,1,1,1,1
content/html-css/css-ii/media-queries.html,1,1,1,1,1,1,1,1
8-timeseries/3-acquire,1,1,1,1,1,1,1,1
12-advanced-topics/3.8-json-responses,1,1,1,1,1,1,1,1
8.1_Project,1,1,1,1,1,1,1,1
5-stats/1-descriptive-stats,1,1,1,1,1,1,1,1
12-advanced-topics/3.3-building-a-model,1,1,1,1,1,1,1,1
fundamentals/environment-setup,1,1,1,1,1,1,1,1
11_Intro,1,1,1,1,1,1,1,1
11_Appendix_CommonPySparkClasses,1,1,1,1,1,1,1,1
fundamentals/diagram-of-ds-pipeline-fraud-example.jpeg,1,1,1,1,1,1,1,1
fundamentals/data-science-pipeline,1,1,1,1,1,1,1,1
content/javascript_ii/promises.html,1,1,1,1,1,1,1,1
8.04.02_ParametricModeling,1,1,1,1,1,1,1,1
content/javascript_ii/npm.html,1,1,1,1,1,1,1,1
content/javascript_ii/modules.html,1,1,1,1,1,1,1,1
javascript-i/introduction/working-with-data-types-operators-and-variables/www.google.com,1,1,1,1,1,1,1,1
11.04_Modeling,1,1,1,1,1,1,1,1
content/javascript_ii/map-filter-reduce.html,1,1,1,1,1,1,1,1
content/javascript_ii/gitbook/images/favicon.ico,1,1,1,1,1,1,1,1
11.02_TransformData.md,1,1,1,1,1,1,1,1
content/javascript_ii/es6.html,1,1,1,1,1,1,1,1
content/javascript_ii/ajax-api.html,1,1,1,1,1,1,1,1
content/javascript_ii,1,1,1,1,1,1,1,1
11.01.01_ConnectingToSpark.md,1,1,1,1,1,1,1,1
Explore_Lesson,1,1,1,1,1,1,1,1
8-timeseries/6.2-prophet,1,1,1,1,1,1,1,1
fundamentals/data-science-modules.jpg,1,1,1,1,1,1,1,1
fundamentals/cli/overview,1,1,1,1,1,1,1,1
11-nlp/topic-modeling,1,1,1,1,1,1,1,1
distributed-ml/read-jdbc,1,1,1,1,1,1,1,1

In [ ]:
# there seem to be more web dev pages at the top and more ds pages at the bottom.
# Could reflect that it is a staff category and data science had only a few cohorts
# in this dataset

In [37]:
# I think it will be useful to make dfs for each of the program_ids:
wd1 = df[df.program_id == 1]
wd2 = df[df.program_id == 2]
ds = df[df.program_id == 3]
apollo = df[df.program_id == 4]
other = df[df.program_id == 999]

#### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [86]:
# checking for most popular page for program wd1
wd1.groupby('path').count().sort_values(by = 'date', ascending=False)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,1681,1681,1681,1681,1681,1681,1681,1681
index.html,1011,1011,1011,1011,1011,1011,1011,1011
javascript-i,736,736,736,736,736,736,736,736
html-css,542,542,542,542,542,542,542,542
spring,501,501,501,501,501,501,501,501
...,...,...,...,...,...,...,...,...
interview-questions,1,1,1,1,1,1,1,1
13.5_Tableau,1,1,1,1,1,1,1,1
interview,1,1,1,1,1,1,1,1
html/forms,1,1,1,1,1,1,1,1
4.5_imports,1,1,1,1,1,1,1,1

In [87]:
# if we take out the root and index, javascript-i is most popular lesson

In [88]:
# now check wd2
wd2.groupby('path').count().sort_values(by = 'date', ascending=False)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,35814,35814,35814,35814,35814,35814,35814,35814
javascript-i,17457,17457,17457,17457,17457,17457,17457,17457
toc,17428,17428,17428,17428,17428,17428,17428,17428
search/search_index.json,15212,15212,15212,15212,15212,15212,15212,15212
java-iii,12683,12683,12683,12683,12683,12683,12683,12683
...,...,...,...,...,...,...,...,...
content/mysql/relationships/sub-queries.html,1,1,1,1,1,1,1,1
content/mysql/sample-database/gitbook/images/favicon.ico,1,1,1,1,1,1,1,1
content/php_iii/classes-and-objects-i/constructors-destructors.html,1,1,1,1,1,1,1,1
content/php_iv/classes-and-objects-ii/late-static-binding.html,1,1,1,1,1,1,1,1
wp-login,1,1,1,1,1,1,1,1

In [ ]:
# javascript-i is the most popular lesson here as well

In [89]:
# now check for ds cohorts

In [90]:
ds.groupby('path').count().sort_values(by = 'date', ascending=False)

,date,time,user_id,cohort_id,name,start_date,end_date,program_id
path,,,,,,,,
/,8358,8358,8358,8358,8358,8358,8358,8358
search/search_index.json,2203,2203,2203,2203,2203,2203,2203,2203
classification/overview,1785,1785,1785,1785,1785,1785,1785,1785
1-fundamentals/modern-data-scientist.jpg,1655,1655,1655,1655,1655,1655,1655,1655
1-fundamentals/AI-ML-DL-timeline.jpg,1651,1651,1651,1651,1651,1651,1651,1651
...,...,...,...,...,...,...,...,...
regression/project/null,1,1,1,1,1,1,1,1
creating-charts,1,1,1,1,1,1,1,1
curie-statistics-assessment,1,1,1,1,1,1,1,1
data-science-modules.jpg,1,1,1,1,1,1,1,1
%20https://github.com/RaulCPena,1,1,1,1,1,1,1,1

In [ ]:
# the classification overview was most popular for ds cohorts

#### 1: Answer: 

- javascript-i is the most popular lesson across Webdev group 1 cohorts

- javascript-i is the most popular lesson across Webdev group 2 cohorts

- the classification overview was most popular for ds cohorts

#### 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

#### 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

#### 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

#### 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

#### 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?